@import "tailwindcss";
@tailwind utilities;

@theme {
  /* Definición de colores */
   /* Definición de colores */
  --color-primary: #2D8787;
  --color-secondary: #008C86;
  --color-tertiary: #D45996;
  --font-primary:'Inter' , sans-serif;
  /* Definición de fuentes */
  --font-primary: 'Manrope', sans-serif;
  --font-secondary: 'Newsreader', serif;
}

body{
  background-color: #050412;
  color: white;
  user-select: none;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


